.logo h1 {
  font-size: 3.2rem;
  color: #192252;
}
main {
  padding: 3rem 0;
}
.Start-button button {
  background-color: #0E1734;
  font-size: 16px;
  width: 121px;
}
.header {
  height: 2.3rem;
}
.main-btn {
  display: inline-block;
  height: 2.3rem;
  line-height: 2.3rem;
}
.main-btn button {
  font-size: 16px;
}
.btn-dark {
  height: 50px;
}
.Rooms {
  font-weight: 600;
  margin-top: 10px;
}
.Reservation {
  font-weight: 600;
  margin-top: 10px;
}
.Contacs {
  font-weight: 600;
  margin-top: 10px;
}
.th2 {
  display: block;
  padding-top: 215px;
}
.th2 span {
  display: block;
  font-size: 48px;
  line-height: 1.5;
  color: #192252;
}
.t2 {
  padding-top: 25px;
}
.t2 span {
  display: block;
  font-size: 18px;
  line-height: 1.5;
  color: #848fac;
}
.s2-btn button {
  height: 51px;
  width: 156px;
  font-size: 16px;
  margin-top: 32px;
  background-color: #0E1734;
}
.pictures-home {
  margin-top: 80px;
}
.ph2 {
  margin-top: 161px;
}
.ph1 {
  margin-right: 24px;
}
.ph3 {
  margin-left: 24px;
}
.s3-text h1 {
  color: #192252;
  margin-top: 185px;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.5;
}
.s3-text p {
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;
  margin-top: 24px;
  color: #848fac;
}
.s3-text button {
  background-color: #0E1734;
  height: 51px;
  width: 151px;
  margin-top: 32px;
  font-size: 16px;
}
.s3 img {
  margin-top: 80px;
}
.s4-text h1 {
  color: #192252;
  margin-top: 193px;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.5;
}
.s4-text p {
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;
  margin-top: 24px;
  color: #848fac;
}
.s4 img {
  margin-top: 80px;
  margin-left: 126px;
}
.s5-text h1 {
  color: #192252;
  margin-top: 160px;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.5;
}
.s5-text p {
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;
  margin-top: 24px;
  color: #848fac;
}
.s5-text {
  margin-right: 130px;
}
.s6-text h1 {
  color: #192252;
  margin-top: 80px;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.5;
}
.s6-text p {
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;
  margin-top: 24px;
  color: #848fac;
  width: 588px;
  margin-left: 350px;
}
.s6-btn button {
  background-color: #0E1734;
  height: 51px;
  width: 165px;
  margin-top: 20px;
  font-size: 16px;
}
.s7 {
  padding-top: 88px;
}
.s7-text1 h1 {
  color: #000;
  margin-top: 32px;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.5;
}
.s7-text1 p {
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;
  margin-top: 16px;
  color: #848fac;
}
.s7-btn1 button {
  color: #424F7B;
  border: none;
  background-color: white;
  height: 27px;
  width: 150px;
  margin-top: 20px;
  font-size: 18px;
}
.s7-btn1-1 img {
  margin-left: 10px;
}
.s7-text2 h1 {
  color: #000;
  margin-top: 32px;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.5;
}
.s7-text2 p {
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;
  margin-top: 16px;
  color: #848fac;
}
.s7-btn2 button {
  color: #424F7B;
  border: none;
  background-color: white;
  height: 27px;
  width: 150px;
  margin-top: 20px;
  font-size: 18px;
}
.s7-btn2-2 img {
  margin-left: 10px;
}
.s7-text3 h1 {
  color: #000;
  margin-top: 32px;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.5;
}
.s7-text3 p {
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;
  margin-top: 16px;
  color: #848fac;
}
.s7-btn3 button {
  color: #424F7B;
  border: none;
  background-color: white;
  height: 27px;
  width: 150px;
  margin-top: 20px;
  font-size: 18px;
}
.s7-btn3-3 img {
  margin-left: 10px;
}
.dd {
  margin-top: 162px;
}
.s8-text span {
  color: #424F7B;
  margin-top: 162px;
  font-size: 16px;
  font-weight: 500;
}
.s8-text h1 {
  color: #192252;
  margin-top: 12px;
  font-size: 36px;
  font-weight: 600;
  line-height: 1.5;
}
.s8-text p {
  line-height: 1.5;
  font-weight: 400;
  font-size: 18px;
  margin-top: 24px;
  color: #848fac;
}
.s8-btn {
  margin-top: 32px;
}
.b8 {
  background-color: #0E1734;
  height: 51px;
  width: 148px;
  font-size: 16px;
}
.s8-btn .b8-2 {
  margin-left: 24px;
  font-weight: 500;
  color: #0E1734;
}
.s9-h {
  margin-top: 160px;
  text-align: center;
  font-size: 36px;
  margin-bottom: 62px;
}
.feature-block {
  text-align: center;
}
.feature-block img {
  display: block;
  margin: 0 auto;
}
.s9-text {
  color: #848FAC;
  margin-top: 45px;
  margin-bottom: 45px;
  width: 793px;
  margin-left: 250px;
  font-size: 18px;
}
.s9-h3 {
  color: #192252;
  font-size: 20px;
  margin-bottom: 25px;
}
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}
ul.accordion-list {
  margin-top: 140px;
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  padding: 20px;
  list-style: none;
  background-color: none;
}
ul.accordion-list li {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  background-color: #FFF;
  padding: 20px;
  margin: 0 auto 15px auto;
  border: 1px solid #eee;
  border-radius: 5px;
  cursor: pointer;
}
ul.accordion-list li.active h3:after {
  -webkit-transform: rotate(45deg);
          transform: rotate(45deg);
}
ul.accordion-list li h3 {
  color: #424F7B;
  font-weight: 700;
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  padding: 0 0 0 0;
  margin: 0;
  font-size: 24px;
  letter-spacing: 0.01em;
  cursor: pointer;
}
ul.accordion-list li h3:after {
  content: "\f278";
  font-family: "material-design-iconic-font";
  position: absolute;
  right: 0;
  top: 0;
  color: #424F7B;
  -webkit-transition: all 0.3s ease-in-out;
  transition: all 0.3s ease-in-out;
  font-size: 18px;
}
ul.accordion-list li div.answer {
  position: relative;
  display: block;
  width: 100%;
  height: auto;
  margin: 0;
  padding: 0;
  cursor: pointer;
}
ul.accordion-list li div.answer p {
  color: #848FAC;
  position: relative;
  display: block;
  font-weight: 300;
  padding: 10px 0 0 0;
  cursor: pointer;
  line-height: 150%;
  margin: 0 0 15px 0;
  font-size: 18px;
}
.c10 {
  margin-top: 80px;
  background-color: #0B265A;
}
.s10-logo {
  margin-top: 120px;
  color: #FFFFFF;
  font-weight: 700;
  font-size: 32px;
  margin-bottom: 20px;
}
.s10-text {
  margin-bottom: 40px;
  color: #FFFFFF;
  font-weight: 400;
  font-size: 16px;
  line-height: 2.0;
}
.icon {
  margin-bottom: 120px;
}
.twitter {
  margin-right: 24px;
}
.inst {
  margin-right: 24px;
}
.first h1 {
  color: #fff;
  margin-bottom: 24px;
  margin-top: 120px;
  font-weight: 700;
  font-size: 16px;
}
.first button {
  font-weight: 400;
  font-size: 16px;
  display: block;
  text-align: center;
  background-color: #0B265A;
  border: none;
  color: #fff;
  margin-bottom: 24px;
}
.second h1 {
  color: #fff;
  margin-bottom: 24px;
  margin-top: 120px;
  font-weight: 700;
  font-size: 16px;
}
.second button {
  font-weight: 400;
  font-size: 16px;
  display: block;
  text-align: center;
  background-color: #0B265A;
  border: none;
  color: #fff;
  margin-bottom: 24px;
}
.thrid h1 {
  color: #fff;
  margin-bottom: 24px;
  margin-top: 120px;
  font-weight: 700;
  font-size: 16px;
}
.thrid button {
  font-weight: 400;
  font-size: 16px;
  display: block;
  text-align: center;
  background-color: #0B265A;
  border: none;
  color: #fff;
  margin-bottom: 24px;
}
@media (max-width: 1400px) {
  .th2 span {
    font-size: 40px;
  }
  .s6-text p {
    margin-left: 260px;
  }
  .s9-text {
    margin-left: 170px;
  }
}
@media (max-width: 1200px) {
  .s2-text {
    text-align: center;
  }
  .th2 {
    margin-top: -170px;
  }
  .pictures-home {
    text-align: center;
    margin-top: -30px;
  }
  .s6-text p {
    margin-left: 170px;
  }
  .s3 {
    text-align: center;
  }
  .s3-text {
    text-align: center;
    margin-top: -50px;
  }
  .s7-text1 {
    text-align: center;
  }
  .s7-img1 {
    text-align: center;
  }
  .s7-btn1-1 {
    margin-left: 700px;
  }
  .s7-text2 {
    text-align: center;
  }
  .s7-img2 {
    text-align: center;
  }
  .s7-btn2-2 {
    margin-left: 700px;
  }
  .s7-text3 {
    text-align: center;
  }
  .s7-img3 {
    text-align: center;
  }
  .s7-btn3-3 {
    margin-left: 700px;
  }
  .s9-text {
    margin-left: 70px;
  }
}
@media (max-width: 992px) {
  .Start-button button {
    margin-top: 25px;
  }
  .s2-text h2 {
    margin-top: 100px;
  }
  .s4 img {
    margin-left: 60px;
  }
  .s5 img {
    margin-top: 20px;
  }
  .s5-text p {
    line-height: 1.5;
    font-weight: 400;
    font-size: 18px;
    margin-top: 24px;
    color: #848fac;
  }
  .s5-text {
    margin-right: -50px;
  }
  .s6-text p {
    margin-left: 50px;
  }
  .s7-img2 {
    margin-top: 50px;
  }
  .s7-img3 {
    margin-top: 50px;
  }
  .s7-btn1-1 {
    margin-left: 550px;
  }
  .s7-btn2-2 {
    margin-left: 550px;
  }
  .s7-btn3-3 {
    margin-left: 550px;
  }
  .s9-text {
    width: 600px;
    margin-left: 30px;
  }
  .thrid button {
    padding: 0;
  }
}
