.s1-btn button {
  background-color: #E6E6E6;
  border: none;
  font-family: Merriweather;
  font-weight: 400;
  font-size: 16px;
  color: #666666;
  margin-top: 50px;
  margin-left: 80px;
}
.s1-btn {
  margin-top: 50px;
  margin-left: 100px;
}
.s1-btn button {
  transition: all 0.5s;
}
.s1-btn button:hover {
  color: #bd9466;
}
.s1 {
  background-color: #E6E6E6;
}
.s2 {
  background-color: #E6E6E6;
}
.s2-img img {
  width: 80%;
  margin-left: 120px;
  margin-top: 20px;
}
.s2-1 {
  margin-top: 142px;
  margin-left: 50px;
  font-family: Merriweather;
  font-size: 16px;
  width: 400px;
  color: #666;
}
.s2-h {
  width: 700px;
  color: #14110F;
  font-family: Philosopher;
  font-size: 76px;
}
.s2-h2 {
  font-size: 164px;
}
.s2-2 {
  font-family: Merriweather;
  font-size: 22px;
  margin-top: 48px;
}
.s2-3 {
  color: #4D4D4D;
  font-family: Merriweather;
  font-size: 22px;
  margin-top: 23px;
}
.s3 {
  background-color: #e6e6e6;
}
.s3-h {
  color: #bd9466;
  width: 700px;
  font-family: Philosopher;
  font-size: 64px;
  text-align: center;
}
.s3-h h1 {
  margin-top: 30px;
}
.s3-h2 {
  margin-top: 50px;
  text-align: right;
  font-family: Philosopher;
  font-size: 112px;
  color: #999;
}
.s3-p1 {
  margin-top: 70px;
  width: 310px;
  font-family: Merriweather;
  font-size: 16px;
  font-weight: 400;
  color: #333;
}
.s3-p2 {
  margin-top: 33px;
  width: 310px;
  font-family: Merriweather;
  font-size: 16px;
  font-weight: 400;
  color: #666;
}
.s4 {
  background-color: #e6e6e6;
}
.s4-img {
  text-align: center;
}
.s4-img img {
  margin-top: 90px;
}
.s4-img2 {
  margin-left: 24px;
  margin-right: 24px;
}
.s5 {
  background-color: #e6e6e6;
}
.s5-h {
  color: #000;
  width: 700px;
  font-family: Philosopher;
  font-size: 30px;
  text-align: center;
}
.s5-h h1 {
  margin-top: 90px;
}
.s5-h2 {
  margin-top: 30px;
  text-align: right;
  font-family: Philosopher;
  font-size: 48px;
  color: #999;
}
.s5-p1 {
  margin-top: 30px;
  width: 410px;
  font-family: Merriweather;
  font-size: 16px;
  font-weight: 400;
  color: #333;
}
.s5-p2 {
  margin-top: 33px;
  width: 364px;
  font-family: Merriweather;
  font-size: 16px;
  font-weight: 400;
  color: #666;
}
.s6 {
  background-color: #e6e6e6;
}
.s6-h2 {
  margin-top: 50px;
  text-align: right;
  font-family: Philosopher;
  font-size: 48px;
  color: #999;
}
.s6-p1 {
  margin-top: 50px;
  width: 410px;
  font-family: Merriweather;
  font-size: 16px;
  font-weight: 400;
  color: #333;
}
.s6-p2 {
  margin-top: 33px;
  width: 379px;
  font-family: Merriweather;
  font-size: 16px;
  font-weight: 400;
  color: #666;
}
.s7 {
  background-color: #e6e6e6;
}
.s7-img {
  margin-top: 98px;
  margin-left: 90px;
}
.s7-p1 {
  margin-top: 98px;
  width: 600px;
  font-family: Merriweather;
  font-size: 22px;
  font-weight: 400;
  color: #1A1A1A;
}
.s7-p2 {
  color: #333;
  font-family: Merriweather;
  font-size: 16px;
  font-weight: 400;
  margin-top: 45px;
}
.s7-btn {
  background-color: #E6E6E6;
  font-family: Philosopher;
  font-size: 22px;
  color: #bd9466;
  border: #BD9466 solid 1px;
  padding: 20px 40px;
  margin-top: 60px;
  margin-bottom: 100px;
  transition: all 0.5s;
}
.s7-btn:hover {
  background-color: #bd9466;
  color: #f7f7f7;
}
.s8 {
  background-color: #f7f7f7;
}
.s8-h1 h1 {
  font-family: Philosopher;
  font-size: 36px;
  width: 700px;
  margin-top: 100px;
  margin-left: 94px;
}
.s8-btn {
  text-align: right;
}
.s8-btn button {
  background-color: #f7f7f7;
  font-family: Philosopher;
  font-size: 22px;
  color: #bd9466;
  border: #BD9466 solid 1px;
  padding: 20px 40px;
  margin-top: 80px;
  text-align: right;
  transition: all 0.5s;
}
.s8-btn button:hover {
  background-color: #bd9466;
  color: #f7f7f7;
}
.s9 {
  background-color: #f7f7f7;
}
.s9-img {
  margin-top: 70px;
}
.s9-p1 {
  font-family: Merriweather;
  font-size: 16px;
  font-weight: 400;
  color: #4d4d4d;
  margin-top: 24px;
}
.s9-btn1 {
  margin-top: 60px;
}
.s9-btn button {
  width: 100%;
  background-color: #f7f7f7;
  font-family: Philosopher;
  font-size: 36px;
  font-weight: 700;
  border: none;
  border-top: black solid 1px;
  color: #4d4d4d;
  padding: 20px 0 20px 0;
  transition: all 0.5s;
}
.s9-btn button:hover {
  color: #bd9466;
}
.s9-btn button:focus {
  color: #bd9466;
}
.s9-btn5 {
  margin-bottom: 160px;
}
.s10 {
  background-color: #e6e6e6;
}
.s10-h1 {
  margin-top: 60px;
  color: #bd9466;
  font-family: Philosopher;
  font-size: 68px;
  font-weight: 700;
}
.s10-h3 {
  margin-top: 60px;
  color: #bd9466;
  font-family: Philosopher;
  font-size: 68px;
  font-weight: 700;
}
.s10-h2 {
  margin-top: 60px;
  color: #bd9466;
  font-family: Philosopher;
  font-size: 68px;
  font-weight: 700;
}
.s10-p1 {
  margin-bottom: 60px;
  color: #333;
  font-family: Merriweather;
  font-size: 12px;
  font-weight: 400;
}
.s10-p2 {
  margin-bottom: 60px;
  color: #333;
  font-family: Merriweather;
  font-size: 12px;
  font-weight: 400;
}
.s10-p3 {
  margin-bottom: 60px;
  color: #333;
  font-family: Merriweather;
  font-size: 12px;
  font-weight: 400;
}
.s11 {
  background-color: #f7f7f7;
}
.s11-1 img {
  width: 90%;
  margin-top: 40px;
}
.s11-img2 {
  width: 80%;
}
.s11-img3 {
  width: 15%;
}
.s11-img-box {
  margin-left: 50px;
  position: relative;
}
.s11-img3 {
  position: absolute;
  top: 25px;
  left: -50px;
}
.s11 h1 {
  font-family: Philosopher;
  font-size: 36px;
  color: #bd9466;
  font-weight: 700;
  margin-top: 100px;
}
.s11-p2 {
  width: 400px;
  margin-top: 100px;
  margin-bottom: 40px;
  font-family: Merriweather;
  font-size: 12px;
  font-weight: 400;
  margin-left: 50px;
}
.s11-p3 {
  width: 450px;
  margin-top: 50px;
  font-family: Merriweather;
  font-size: 16px;
  font-weight: 400;
  margin-left: 50px;
  margin-bottom: 140px;
}
.s11-p1 {
  font-family: Merriweather;
  font-size: 12px;
  color: #666;
}
.s12 {
  background-color: #0a0a0a;
}
.s12 p {
  color: #999;
  font-family: Merriweather;
  font-size: 12px;
}
.s12 h1 {
  color: #f7f7f7;
  font-family: Philosopher;
  font-size: 20px;
}
.ss1 {
  margin-left: 185px;
}
.ss2 {
  margin-left: 185px;
}
.ss4 {
  margin-left: 125px;
}
.ss5 {
  margin-left: 120px;
}
.ss12 {
  display: inline-block;
}
.s12-img2 {
  width: 57%;
}
.s12-2-2 {
  margin-top: 40px;
}
.s12-img4 {
  margin-top: 60px;
}
.s12-img5 {
  margin-top: 60px;
}
.s12-img6 {
  margin-top: 60px;
}
.s12 h2 {
  margin-top: 120px;
  margin-bottom: 80px;
  color: #bd9466;
  font-size: 36px;
  text-align: center;
}
.s12-p3-5 {
  margin-bottom: 140px;
}
.slider-img {
  width: 100%;
}
.s13-text1 {
  margin-top: 100px;
  font-family: Merriweather;
  font-size: 20px;
  color: #1a1a1a;
  font-weight: 400;
}
.s13-text2 {
  color: #333;
  font-family: Merriweather;
  font-size: 16px;
  font-weight: 400;
}
.s13-h1 {
  font-family: Philosopher;
  font-size: 20px;
  margin-top: 10px;
}
.s13-h {
  font-family: Philosopher;
  margin-top: 100px;
  margin-bottom: 70px;
}
.s14 {
  margin-top: 30px;
  text-align: center;
  background-color: #14110F;
}
.s14 button {
  font-family: Philosopher;
  color: #666;
  background-color: #14110F;
  border: none;
  margin-bottom: 100px;
}
.s14 h1 {
  font-family: Philosopher;
  margin-top: 70px;
  margin-bottom: 60px;
  color: #bd9466;
}
